source_up
### local token
#export KESTREL_TOKEN=eyJhbGciOiJSUzI1NiJ9.eyJjbGkiOiI0NTY3Iiwic3ViIjoiand0LWV4YW1wbGUiLCJhdWQiOiI0NTY3IiwibG4iOiJFeGFtcGxlIiwiZm4iOiJKV1QiLCJmaW5nZXJQcmludEhhc2giOiI3MDI0OTE0Y2MyNTFjZmU2OTZmOWYwZDg3NTdhNzA3ZTlhZDc3NTIzYmYzMDY5ZWRiODQ5N2M1NTFjMzUyNThhIiwiZ3IiOlsiRXZlcnlvbmUiXSwiZXhwIjoyMzc1MjIyNTM0LCJpYXQiOjE2NTUyMjI1MzQsImVtYWlsIjoiand0LWV4YW1wbGVAZXhhbXBsZS5jb20ifQ.Dox5PkcLaUuU3UYsj5vmNzt9czCVPfz4ptHaE_Z7pA4DvvZWyv0UPOBP9q9k2UCHZLR79Nqbw87o_b4MWweHAqNlXcuPQx36KIIwHn_K2ZH7Lw9vBGsGP5idEMo8OzPP5Fdx80v0jNyxVvqhVXpElmmIN5xY4mVfC-xkoM2HzGxt_QOD4vV98LajrM3Pu7bDyFFaKIaPWGBDMpfVSxK3mQpVD3IJmu7lLtOolc3o_ykkSLnXlUM_NJSHnuDxaMe7IMjYB5m5k-GZEat85YSXhpgXKI_-r4-Wv8OJMOtSM3lToW50SP1Amub313QHhrLF-0IojlGqU7dWeJdVWSkULQ
### pko2 token
export KESTREL_TOKEN=eyJhbGciOiJSUzI1NiJ9.eyJjbGkiOiJ0b080SXdQU0xVU3gyRXdaIiwic3ViIjoiYWRtaW4iLCJhdWQiOiJ0b080SXdQU0xVU3gyRXdaIiwibG4iOiJBZG1pbmlzdHJhdG9yIiwiZm4iOiJTeXN0ZW0iLCJmaW5nZXJQcmludEhhc2giOiJlNmY2YWY4NjExM2FlMjBlZjgzZTM2YmMyYTMxM2RlYzNhYzk5NGIyOTM3ZGYwMmU1M2FhZTEwMmYyZWUwNWUxIiwiZ3IiOlsiRXZlcnlvbmUiXSwiZXhwIjoxNjczNDMzMTMzLCJpYXQiOjE2NzM0Mjk1MzMsImVtYWlsIjoiIn0.20CrYYFcJglnOnOEC63vUUlbKjJC-V1NMMQRk1g4UAxlcDXvAf4S9XWssdQ88GdBzqR6M_U8GdDw5S3nbusMOSstI8NXxzXw0oleMkV18GOXABjp4b1N4OEDFs29N3pBdhkt0Jo8EmtgV_l8lNzCv4t-1uuXieM6IKFH-xTTuhGSOddgYrtQb3p7AzSkNYWxKgaHLrOE6ltqZFUjPF0KpvpoaU5GM6StR1lC4Bs5NHcRyTVWyZBv93QVitDoD0qUYTwbLYTMU8w9MAk0tYVLZS2Q9k6dVTbytJclOoCjIg16VP892Knqs3PvGqfzBQCy3VV8adDQot0KuqhRjTLpSw
