source_up
### local token
### export KESTREL_TOKEN=eyJhbGciOiJSUzI1NiJ9.eyJjbGkiOiI0NTY3Iiwic3ViIjoiand0LWV4YW1wbGUiLCJhdWQiOiI0NTY3IiwibG4iOiJFeGFtcGxlIiwiZm4iOiJKV1QiLCJmaW5nZXJQcmludEhhc2giOiI3MDI0OTE0Y2MyNTFjZmU2OTZmOWYwZDg3NTdhNzA3ZTlhZDc3NTIzYmYzMDY5ZWRiODQ5N2M1NTFjMzUyNThhIiwiZ3IiOlsiRXZlcnlvbmUiXSwiZXhwIjoyMzc1MjIyNTM0LCJpYXQiOjE2NTUyMjI1MzQsImVtYWlsIjoiand0LWV4YW1wbGVAZXhhbXBsZS5jb20ifQ.Dox5PkcLaUuU3UYsj5vmNzt9czCVPfz4ptHaE_Z7pA4DvvZWyv0UPOBP9q9k2UCHZLR79Nqbw87o_b4MWweHAqNlXcuPQx36KIIwHn_K2ZH7Lw9vBGsGP5idEMo8OzPP5Fdx80v0jNyxVvqhVXpElmmIN5xY4mVfC-xkoM2HzGxt_QOD4vV98LajrM3Pu7bDyFFaKIaPWGBDMpfVSxK3mQpVD3IJmu7lLtOolc3o_ykkSLnXlUM_NJSHnuDxaMe7IMjYB5m5k-GZEat85YSXhpgXKI_-r4-Wv8OJMOtSM3lToW50SP1Amub313QHhrLF-0IojlGqU7dWeJdVWSkULQ
### pko2 token
export KESTREL_TOKEN=eyJhbGciOiJSUzI1NiJ9.eyJjbGkiOiJuN3lScGtSQ080VXpFYklvIiwic3ViIjoiYWRtaW4iLCJhdWQiOiJuN3lScGtSQ080VXpFYklvIiwibG4iOiJBZG1pbmlzdHJhdG9yIiwiZm4iOiJTeXN0ZW0iLCJmaW5nZXJQcmludEhhc2giOiI4MjRhMGE3YTdiNzVkYmI0ZDA2OGRjMzJkYTJiYTA1YjAyYzdiZmNkNzRmNWUzYWYzZjcyZmFiMDExNmU2ZWQ2IiwiZ3IiOlsiRXZlcnlvbmUiXSwiZXhwIjoxNjc0NDY5OTI1LCJpYXQiOjE2NzQ0NjYzMjUsImVtYWlsIjoiIn0.HnfoQSc3CH-DvCAI7pyvSK_8dd2QtaSPRWePA5L9To_TuQkNfy6sAusIKUVC99ix11FXhpmmSNFJrxWzSHQdXkSXLJuvQangBFzUZz7ty4ReEB5U7upbeY9DIKcKEtR_UzFUAWoZkZx_xdIGVPOPkAefTXrNiHrJRA8w4t-XKQ5SsTQaq4wbLhm38j3XY6Bz7hbgDidQ1wiA-K5yxRatIEWEnRvPKQ9H0C0Yxt_WAu42BG_wbLNMjlvcTXUPC9ecYfh-mKG8_zhwPQcHzp1uBIj8P7VBKr8z3JTufoYRmPE2wZOJaPM0kY86P_wngxAXtw4n2IQ1r-cCyk98EhpsGQ
